
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

h1{
    font-family: 'Roboto Slab', serif;
    color: #03045e;
    text-align: center;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #72efdd;
    padding: 3%;
}

ul{
    font-size: 18px;
}

ol{
    font-size: 16px;
}

#description{
    font-family: 'Ubuntu', sans-serif;
}

.images{
    display: block;
    margin: auto;
}

.nav-menu{
    text-align: center;
}

.bottom{
    display: inline-block;
    min-width: 130px;
    padding: 14px 60px;
    background-color: #4ea8de;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
	text-transform: uppercase;
    position: relative;
    left: 465px;
}

#foto{
    border-radius: 15%;
}

#sociais{
    margin: 30px 140px;
    padding: 14px 60px;;
    background-color: #4ea8de;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

#btn{
    display: inline-block;
    min-width: 130px;
    margin: 30px 30px;
    padding: 14px 60px;;
    background-color: #4ea8de;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    position: relative;
    left: 300px;
}

.image-container{
    height: 400px;
}

#description{
    text-align: justify;
    top: 1000px;
    right: 60px;
    left: 460px;
    position: absolute;
}

#foto{
    float: left;
    width: 380px;
    padding: 10px;
    background-color: #03045e;
}

.info p{
    text-align: left;
    position: relative;
    left: 50px;
}

.info h2{
    text-align: center;
}

ol li:hover{
    color: white;
}

ol li:hover:nth-of-type(odd){
    background-color: gray;
}